@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;  
}
.book_container{
    font-family: 'Montserrat', sans-serif;
    padding: 2.5%;
    width:95%;
    padding-top: 80px;
}
#name{
    width:98.5%;
}
@media (max-width: 768px) {
    .flexbox {
      justify-content: center; 
        }
        #name{
            width:96%;
        }
  }